<html>
  <body>
  <h1>Create makeathon</h1>
  
  <form action='/makeathon/create' method='post' name='create_makeathon' id='create_makeathon'>
    Makeathon Id: <input id='makeathon_id' type='text' name='makeathon_id' value='12'>
    Makeathon Name: <input id='makeathon_name' type='text' name='makeathon_name'>
    Project 1 Name: <input id='makeathon_name' type='text' name='project_name'>
    Project 1 Details: <input id='makeathon_name' type='text' name='project_details'>
    Students: <input id='makeathon_name' type='text' name='students'>

    <button id='Submit' type='submit'>Submit</button>
  </form>

  </body>
</html>