<body>

  <h1>Create makeathon</h1>
  
  <form action='/makeathon/create' method='post' name='create_makeathon' id='create_makeathon'>
    Makeathon Name: <input id='makeathon_name' type='text' name='makeathon_name'><br /><br /><br />
    Project Name: <input id='makeathon_name' type='text' name='project_name'>
    Project Details: <input id='makeathon_name' type='text' name='project_details'><br /><br />
    Students: <input id='makeathon_name' type='text' name='students'>
    <br />
    <br />
    <button id='Submit' type='submit'>Submit</button>
  </form>

</body>