<body>

  <h1>Create makeathon</h1>
  
  <form action='/makeathon/create' method='post' name='create_makeathon' id='create_makeathon'>
    Makeathon Name: <input id='makeathon_name' type='text' name='makeathon_name'><br /><br /><br />
    Project 1 Name: <input id='makeathon_name' type='text' name='project1_name'>
    Project 1 Details: <input id='makeathon_name' type='text' name='project1_details'><br /><br />
    Project 2 Name: <input id='makeathon_name' type='text' name='project2_name'>
    Project 2 Details: <input id='makeathon_name' type='text' name='project2_details'><br /><br />
    Project 3 Name: <input id='makeathon_name' type='text' name='project3_name'>
    Project 3 Details: <input id='makeathon_name' type='text' name='project3_details'><br /><br />
    Project 4 Name: <input id='makeathon_name' type='text' name='project4_name'>
    Project 4 Details: <input id='makeathon_name' type='text' name='project4_details'><br /><br />
    Project 5 Name: <input id='makeathon_name' type='text' name='project5_name'>
    Project 5 Details: <input id='makeathon_name' type='text' name='project5_details'><br /><br />
    Project 6 Name: <input id='makeathon_name' type='text' name='project6_name'>
    Project 6 Details: <input id='makeathon_name' type='text' name='project6_details'><br /><br />
    <br />
    Students: <input id='makeathon_name' type='text' name='students'>
    <br />
    <br />
    <button id='Submit' type='submit'>Submit</button>
  </form>

</body>