<html>
  <body>
  <h1>Create makeathon</h1>
  
  <form action='/makeathonmanagement' method='post' name='createmakeathon' id='create-makeathon'>
    Name:<br> <input id='makeathon_name' type='text' name='makeathon_name'>
    <button id='Submit' type='submit'>Submit</button>
  </form>

  </body>
</html>