<body>

  <h1>Student Makeathon Form</h1>

  <form action='/student/manage' method='post' name='student_form' id='student_form'>
    Name: <input id='student_name' type='text' name='student_name'>
    Email: <input id='student_email' type='text' name='student_email'>
    1st Choice: <input id='student_first_choice' type='text' name='student_first_choice'>
    2nd Choice: <input id='student_second_choice' type='text' name='student_second_choice'>
    3rd Choice: <input id='student_third_choice' type='text' name='student_third_choice'>

    <button id='Submit' type='submit'>Submit</button>
  </form>

</body>